<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>[% IF dataset_text %][% dataset_text %][% END %][% IF credor.nome %][% credor.nome %][% END %] -- Para onde foi o meu dinheiro ? </title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/static/favicon.ico" rel="icon" type="image/x-icon"/>

[% IF credor.nome %]
<meta name="description" content="Informações relativas a despesas do governo com o [% credor.nome %], baseado em dados abertos governamentais." lang="pt-BR" />
[% ELSE %]
<meta name="description" content="Info-gráficos baseado em dados abertos relativos a execução do orçamento público dos governos federais, estaduais e munícipais." lang="pt-BR" />
[% END %]
<meta name="keywords" content="orçamento, governo, ldo, despesas, dinheiro, investimento, opensource, opendata, dados, [% credor.nome %]" />
<meta name="robots" content="index,follow" />

<meta property="og:site_name" content="[% IF dataset_text %][% dataset_text %][% END %][% IF credor.nome %][% credor.nome %][% END %] -- Para onde foi o meu dinheiro ?"/>
<meta property="og:image" content="http://www.paraondefoiomeudinheiro.org.br/static/images/sc-pofomd.png"/>

[% IF credor.nome %]
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "77a6b73d-9b99-4571-9512-b65552355eee"});</script>
[% END %]

[% IF template.programa %]
<script src="/static/js/rgraph/libraries/RGraph.common.core.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.common.annotate.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.common.context.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.common.tooltips.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.common.zoom.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.common.resizing.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.pie.js" ></script>
<!--[if IE 8]><script src="/static/js/rgraph/excanvas/excanvas.compressed.js"></script><![endif]-->
<script src="/static/js/rgraph/libraries/RGraph.rose.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.hbar.js" ></script>
<script src="/static/js/rgraph/libraries/RGraph.line.js" ></script>
[% ELSE %]
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/underscore-min.js" type="text/javascript"></script>
<script src="/static/js/backbone-min.js" type="text/javascript"></script>
<script src="/static/js/utils.js" type="text/javascript"></script>
<script src="/static/js/script.js" type="text/javascript"></script>
<link href="/static/css/data_tables.css" rel="stylesheet" type="text/css"/>
<script src="/static/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/static/js/datatables.js" type="text/javascript"></script>
<script src="/static/js/jquery.number_format.js" type="text/javascript"></script>
<script src="/static/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="/static/js/excanvas.js"></script><![endif]-->
<script src="/static/js/thejit-2.js" type="text/javascript"></script>
<script src="/static/js/jitload.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
[% END %]
[% IF eficiencia %]
<link href="/static/css/jquery.jqplot.shTheme.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/jquery.jqplot.min.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static/js/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqplot.barRenderer.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqplot.categoryAxisRenderer.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqplot.pointLabels.js"></script>
<script type="text/javascript" src="/static/js/eficiencia.js"></script>
[% END %]
[% IF template.variavel %]
<link rel="stylesheet" href="/static/css/jquery.jqplot.min.css" />
<script type="text/javascript" src="/static/js/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.bubbleRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/functions.dataset.js"></script>
[% END %]
<script src="/static/js/search.js" type="text/javascript"></script>
<script src="/static/js/root.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/static/css/defs.css" />

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-22934746-1']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/datasets/overview">Datasets</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Federal <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/dataset/federal-direto-2012">Gastos direto - 2012</a></li>
                            <li><a href="/dataset/federal-direto-2011">Gastos direto - 2011</a></li>
                            <li><a href="/dataset/federal-direto-2010">Gastos direto - 2010</a></li>
                            <li><a href="/dataset/federal-direto-2009">Gastos direto - 2009</a></li>
                            <li><a href="/dataset/federal-direto-2008">Gastos direto - 2008</a></li>
                            <li><a href="/dataset/federal-direto-2007">Gastos direto - 2007</a></li>
                            <li><a href="/dataset/federal-direto-2006">Gastos direto - 2006</a></li>
                            <li><a href="/dataset/federal-direto-2005">Gastos direto - 2005</a></li>
                            <li><a href="/dataset/federal-direto-2004">Gastos direto - 2004</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadual <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/dataset/estado-sao-paulo-2012">São Paulo - 2012</a></li>
                            <li><a href="/dataset/estado-sao-paulo-2011">São Paulo - 2011</a></li>
                            <li><a href="/dataset/estado-sao-paulo-2010">São Paulo - 2010</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Municipal <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/dataset/municipio-sao-paulo-2011">SP - São Paulo - 2011</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <form class="form-search pull-right" method='get' action='/credores/busca' role="search">
                <label for="busca" class="hide">Busca</label><!-- only for screenreaders -->
                <input type="text" name="q" id="busca" placeholder="Busca por credores" class="search-query">
                <button type="submit" class="btn btn-link"><i class="icon-search icon-white"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="container">

	<div class="content">
		<div class="page-header">

			<div class="row">
				<div class="span10">
                    <img src="[% c.uri_for('/static/images/logo-pofomd-novo.png') %]" class="pofomd" alt="Para onde foi o meu dinheiro?" />
                    <img src="[% c.uri_for('/static/images/logo-rnsp.png') %]" class='rnsp' alt="Rede Nossa São Paulo" />
				</div>

				<div class="span2">
[%#					<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.paraondefoiomeudinheiro.org.br" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> %]

<!-- kludge to make IE behave well, while being conformant with W3C -->
<!--[if IE]>
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.paraondefoiomeudinheiro.org.br&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>

<![endif]-->
<!--[if !IE]>-->
					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.paraondefoiomeudinheiro.org.br&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" style="border:none; overflow:hidden; width:150px; height:21px;"></iframe>
<!--<![endif]-->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				[% content %]
			</div>
		</div>
	</div>

    <br />

    <div class="row parceiros">
        <div class="pull-right">
            <div class="label">Parceiros:</div>
            <div class="logo"><a href="http://www.w3c.br/" target="_blank"><img src="[% c.uri_for('/static/images/logo-w3c.png') %]" alt="W3C" /></a></div>
            <div class="logo"><a href="http://www.nic.br/" target="_blank"><img src="[% c.uri_for('/static/images/logo-nicbr.png') %]" alt="NIC.br" /></a></div>
            <div class="logo"><a href="http://www.cgi.br/" target="_blank"><img src="[% c.uri_for('/static/images/logo-cgibr.png') %]" alt="CGI.br" /></a></div>
            <div class="logo"><a href="http://br.okfn.org/" target="_blank"><img src="[% c.uri_for('/static/images/logo-okfn.png') %]" alt="OKF" /></a></div>
        </div>
    </div>

</div>

<br />

<footer class="footer">
<div class="malha">
	<div class="container">
		<div class="row">
			<div class="span6">
				<p>Para onde foi o meu dinheiro ?</p>
				<ul>
					<li><a href="/sobre">Sobre</a></li>
					<li><a href="/contato">Contato</a></li>
					<li><a href="http://github.com/W3CBrasil/POFOMD">Código fonte desta aplicação!</a></li>
				</ul>
			</div>

			<div class="span6 text-right">
				<p>
					<a href="http://www.opendefinition.org/okd/">
						<img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="OpenData">
					</a>
				</p>
				<p>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/br/">
                        <img alt="Licença Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/br/80x15.png"></a><br>
                        Este trabalho está sobre a licença <a rel="license" href="http://creativecommons.org/licenses/by/3.0/br/">Creative Commons Atribuição 3.0
                    </a>
				</p>
			</div>

		</div>
        <div class="row">
			<div class='span12'>
				Desenvolvido por <a href="http://sao-paulo.pm.org" target="_blank"> São Paulo Perl Mongers</a>
			</div>
        </div>
	</div>
</div>
</footer>

</body>
</html>
